<html>

 <head>
 	<meta name="google-site-verification" content="YvVOlaTTiE_-B2Qgn9OzA5QC2Nylm4UFRwEHs0EW8NM" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" >
      </head>


  <body>
	<h1>
		<span class="title">
		Quick Notes
		</span>
		<span class="signinout"> 
      	 {{greeting}} 
       	</span>
    </h1>
    
       
       <div id = "bodycontent">
       
       {% block bodycontent %}       
     	This is replaced
     	{% endblock %}
      
      </div>

              
  </body>
</html>
