<html>

 <head>
 	<title>Edit Note</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" >
  </head>

  <body>

               {%extends  "_base.html" %}
     
     	{% block bodycontent %}
     	
              {% for note in results %}
              <form  method="post">
           		<div>
           		<input class= 'centry' type='text' name="subject" title="Subject" rows="1" cols="40" value ='{{note.subject}}'>
                </div>
                <textarea class= 'centrycontent' name="content" title ="Write note..." 
                rows="10" cols="80">{{note.content}}</textarea>
                 
                <div><input type="submit" title = 'Alt + S' accesskey = 's' value="Save"></div>
                
                
              </form>
         	 	
                <FORM>
		<INPUT TYPE="BUTTON" VALUE="View Notes" title = 'Alt + V' accesskey = 'v' ONCLICK="window.location.href='/getnote'"> 
	   </FORM>
	 		  {% endfor %}
	   
	   {% if error %}
	   
	   <div id= "error">
	   {{error}}
	   </div>
	   
	   {% endif %}
	    
         
	{% endblock %}	
         

  </body>
</html>
