<html>

 <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" >
      </head>

  <body>

               <h1>Kindle Jotter - New <fb:login-button></fb:login-button> </h1> 
              
              <form name= "entrybox" action="/" method="post">
           		<div id= "entry">
           		<textarea name="subject" rows="1" cols="40"
           		onfocus="document.entrybox.subject.value='';">
Subject	</textarea></div>

                <div id= "entry"><textarea name="content" rows="10" cols="60" 
                onfocus="document.entrybox.content.value='';">
Your Note...</textarea></div>
                <div><input type="submit" value="Save"></div>
              </form>
         	  	
                <FORM>
		<INPUT TYPE="BUTTON" VALUE="View Notes" ONCLICK="window.location.href='/getnote'"> 
	   </FORM>
	
	   
	   {% if error %}
	   
	   <div id= "error">
	   {{error}}
	   </div>
	   
	   {% endif %}
	    
   
   
   <div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: '146091585438148', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
</script>      
		
         

  </body>
</html>
