<html>

 <head>
 	<title>View Notes</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
               {%extends  "_base.html" %}
     
     	{% block bodycontent %}
             <p>
             
             <INPUT TYPE="BUTTON" VALUE="New Note" title='ALT + N' accesskey = 'n' ONCLICK="window.location.href='/entry'">
           		
	   		</p>
             <table>
             	<tr>
             		<th> Date </th>
             		<th> Subject </th>
             		<th> View </th>
             		<th> Delete </th>
             	</tr>
             Your Notes	
             {% for note in notelist %}
            
             <tr>
             	<td>{{note.date|date:"D d M Y"}}</td>
             	<td>{{note.subject}}</td>
             	<td>	<INPUT TYPE="BUTTON" VALUE="View" tabindex = '1' title ='TAB to jump through notes' ONCLICK="window.location.href='/show?{{note.key}}'">
             	</td>
             	<td>	<INPUT TYPE="BUTTON" VALUE="Delete" ONCLICK="window.location.href='/delete?{{note.key}}'">
             	</td>
       		{% endfor %}
           	</table>
           	
           	</p>
             <table>
             	<tr>
             		<th> Date </th>
             		<th> Friend </th>
             		<th> Subject </th>
             		<th> View </th>
             		
             	</tr>
             Friend's Notes	
             {% for note in sharedlist %}
             <tr>
             	<td>{{note.date|date:"D d M Y"}}</td>
             	<td>{{note.user}}</td>
             	<td>{{note.subject}}</td>
             	<td>	<INPUT TYPE="BUTTON" VALUE="View" tabindex = '1' title ='TAB to jump through notes' ONCLICK="window.location.href='/show?{{note.key}}'">
             	</td>
             	
       		{% endfor %}
           	</table>
           	
           	
           		
           	{% endblock %}	
         

  </body>
</html>
