<html>

 <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
               <h1>Kindle Jotter -View</h1>
             <p>
             <INPUT TYPE="BUTTON" VALUE="Back to Notes" ONCLICK="window.location.href='/getnote'">
             <INPUT TYPE="BUTTON" VALUE="New Note" ONCLICK="window.location.href='/entry'">
           		
	   		</p>
	   		 <table>
             	<tr>
             		<th> Date </th>
             		<th> Subject </th>
             		
            		<th> Edit </th>
            		<th> Delete </th>
             		
             	</tr>
             	
             {% for note in results %}
             <tr>
             	<td>{{note.date|date:"D d M Y"}}</td>
             	<td>{{note.subject}}</td>
             	<td><INPUT TYPE="BUTTON" VALUE="Edit" ONCLICK="window.location.href='/edit?{{note.key}}'"></td>
                <td><INPUT TYPE="BUTTON" VALUE="Delete" ONCLICK="window.location.href='/delete?{{note.key}}'"></td>
             </tr>
             	
       		{% endfor %}
           	</table>
           	
           	<table>
             	<tr>
             		<th> Note </th>
               	</tr>
             	
             {% for note in results %}
             
             <tr>
             	<td><textarea name=chosen_note cols=60 rows=10 readonly>{{note.content}}
             </textarea></td>	
           	 </tr>
           	 </table>	
         	{% endfor%}

  </body>
</html>
