<html>

 <head>
 	<title>Read Note</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
               {%extends  "_base.html" %}
     
     	{% block bodycontent %}
             <p>
             <INPUT TYPE="BUTTON" VALUE="Back to Notes" title = 'Alt + B' accesskey = 'b' ONCLICK="window.location.href='/getnote'">
             <INPUT TYPE="BUTTON" VALUE="New Note" title = 'Alt + N' accesskey = 'n' ONCLICK="window.location.href='/entry'">
           		
	   		</p>
	   		 <table>
             	<tr>
             		<th> Date </th>
             		<th> Subject </th>
             		
            		<th> Edit </th>
            		<th> Delete </th>
             		
             	</tr>
             	
             {% for note in results %}
             <tr>
             	<td>{{note.date|date:"D d M Y"}}</td>
             	<td>{{note.subject}}</td>
             	<td><INPUT TYPE="BUTTON" VALUE="Edit" title = 'Alt + C' accesskey = 'c' ONCLICK="window.location.href='/edit?{{note.key}}'"></td>
             
             {% if deleteflag %}
                <td><INPUT TYPE="BUTTON" VALUE="Delete" ONCLICK="window.location.href='/delete?{{note.key}}'"></td>
             {% endif %}
             {% if not deleteflag %}
				<td> Shared </td>
             {% endif %}
             </tr>
             {% endfor %}	
       		
           	</table>
           	
           	<table>
             	<tr>
             		<th> Note </th>
               	</tr>
             	
             {% for note in results %}
             
             <tr>
             	<td><textarea name=chosen_note cols=60 rows=10 readonly>{{note.content}}
             </textarea></td>	
           	 </tr>
           	 </table>	
         	{% endfor%}
		{% endblock %}
  </body>
</html>
